nextflow.enable.dsl = 2

trace.overwrite = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

profiles {
    conda {
        conda.enabled = true

        process {
            withName: QCReadsPrinseqPaired|QCReadsPrinseqSingle {
                conda = "${params.prinseq_conda_env}"
            }

            withName: Kraken2ClassificationPaired|Kraken2ClassificationSingle {
                cpus = 4
                conda = "${params.kraken2_conda_env}"
            }

            withName: CentrifugeClassificationPaired {
                cpus = 4
                conda = "${params.centrifuge_conda_env}"
            }

            withName: DiamondClassificationPaired {
                cpus = 8
                memory = '4 GB'
                conda = "${params.diamond_conda_env}"
            }

            withName: KrakenUniqueClassificationPaired {
                cpus = 4
                conda = "${params.krakenunique_conda_env}"
            }

            withName: MapMinimap2Paired {
                maxForks = 15
                conda = "${params.minimap2_conda_env}"
            }

            withName: FilterBamMsamtools {
                maxForks = 10
                conda = "${params.msamtools_conda_env}"
            }

            withName: SortBam {
                maxForks = 10
                conda = "${params.msamtools_conda_env}"
            }

            withName: SamtoolsCoverage|SamtoolsStats {
                conda = "${params.mosdepth_conda_env}"
            }

            withName: MergeCoverageStatistics {
                conda = "${params.mosdepth_conda_env}"
            }

            withName: ClusterMappedReads {
                memory = '16 GB'
                cpus = 8
            }

            withName: SimulateReadsMess {
                conda = "${params.mess_conda_env}"
            }

            withName: WgsimSimulateReads {
                conda = "${params.wgsim_conda_env}"
            }

            memory = '4 GB'
            cpus = 2
        }
    }
}

executor {
    name = 'local'
    queueSize = 10
}
