profiles {
    conda {
        conda.enabled = true
        process {
            withName: SimulateReadsMess {
                conda = "${params.mess_conda_env}"
            }
            withName: WgsimSimulateReads {
                conda = "${params.minimap2_conda_env}"
            }
            memory = '4 GB'
            cpus = 10
        }
    }
    dag {
        dag.overwrite = true
    }
}
