profiles {
    conda {
        conda.enabled = true
        process {
            withName: QCReadsPrinseqPaired {
                conda = "${params.prinseq_conda_env}"
            }
            withName: QCReadsPrinseqSingle {
                conda = "${params.prinseq_conda_env}"
            }
            withName: Kraken2ClassificationPaired {
                conda = "${params.kraken2_conda_env}"
            }
            withName: CentrifugeClassificationPaired {
                conda = "${params.centrifuge_conda_env}"
            }
            withName: DiamondClassificationPaired {
                conda = "${params.diamond_conda_env}"
            }
            withName: KrakenUniqueClassificationPaired {
                conda = "${params.krakenunique_conda_env}"
            }
            withName: MapMinimap2Paired {
                conda = "${params.minimap2_conda_env}"
            }
            withName: FilterBamMsamtools {
                conda = "${params.msamtools_conda_env}"
            }
            withName: sortBam {
                conda = "${params.msamtools_conda_env}"
            }
            withName: SamtoolsCoverage {
                conda = "${params.mosdepth_conda_env}"
            }
            withName: SamtoolsStats {
                conda = "${params.mosdepth_conda_env}"
            }
            memory = '4 GB'
            cpus = 10
        }
    }
    dag {
        dag.overwrite = true
    }
}
