profiles {
    conda {
        conda.enabled = true
        process {
            withName: SimulateReadsMess {
                conda = "${params.mess_conda_env}"
            }
            withName: MosDepth {
                conda = "${params.mosdepth_conda_env}"
            }
            withName: FilterBamMsamtools {
                conda = "${params.msamtools_conda_env}"
            }
            withName: SortBam {
                conda = "${params.msamtools_conda_env}"
            }
            withName: SamtoolsCoverage {
                conda = "${params.msamtools_conda_env}"
            }
            withName: MapMinimap2Paired {
                conda = "${params.minimap2_conda_env}"
            }
            withName: QCReadsPrinseqPaired {
                conda = "${params.prinseq_conda_env}"
            }
            withName: Kraken2ClassificationPaired {
                cpus = 4
                conda = "${params.kraken2_conda_env}"
            }
            withName: CentrifugeClassificationPaired {
                cpus = 4
                conda = "${params.centrifuge_conda_env}"
            }
            withName: DiamondClassificationPaired {
                cpus = 8
                memory = '4 GB'
                conda = "${params.diamond_conda_env}"
            }
            withName: KrakenUniqueClassificationPaired {
                cpus = 4
                conda = "${params.krakenunique_conda_env}"
            }
        }
    }
    dag {
        dag.overwrite = true
    }
}
